<%= turbo_stream.replace dom_id(@medication_schedule) do %>
  <%= render "medication_schedules/medication_schedule", medication_schedule: @medication_schedule %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <div class="py-2 px-3 bg-green-50 mb-5 text-green-600 font-medium rounded-lg print:hidden">
    Schedule was successfully updated.
  </div>
<% end %>
